@charset "UTF-8;"
*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body{
    background-image: linear-gradient(TO right, #814F11,#A17A4B);
}

main{
    border-radius: 30px;
    box-shadow: 5px 5px 15px  #6d53336c;
    background-color: #fff;
    width: 600px;
    padding: 30px; 
    margin: auto;
}
h1{
    color:#FFDDA3;
    text-align: center;
    text-shadow: 1px 1px 2px #ffdda37e;
}

h2{
    color: #624A23;
   
    
}

p{
    text-align: justify;
}