 @charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

  
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


  .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
 
.croissant-one-regular {
  font-family: "Croissant One", serif;
  font-weight: 400;
  font-style: normal;
}




  :root{
    --fonte-padrao: Arial, Verdana, helvetica, Sans-serif;
    --fonte-destaque: "Croissant One", serif;
    --fonte-especial: "Bebas Neue", sans-serif;
    --cor1:#0577B7; 
    --cor2:#1E5F85 ;
    --cor3:#234152 ;
    --cor4:#10274F;
    --cor5:#0F4C81;
    --cor7:#0F4C81;
    --cor7:#1E88E5;
    --cor8:#64B5F6;
    --cor9:#F8FAFC;
  }
*{
    margin:0px;
}
body{
    font-family: var(--fonte-padrao);
    background-image: linear-gradient(to bottom, var(--cor8), var(--cor1));

}

header  {
    background-image: linear-gradient(to bottom, var(--cor8), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;

}


header > h1{
 
  
  font-famiy:var(--fonte-especial);
  color: var(--cor9);
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: Bold;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.308);
;

}



  header > .primeiro{
 text-align: center;
 color: var(--cor9);
text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.308);
font-size: 1.2em;

}


  nav{
    background-color: var(--cor3);
    padding: 10px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.644);
  
    

  }
  

  nav > a{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
    
    

  }
   nav > a:hover{
    background-color: var(--cor7);
    color:var(--cor5);
    padding: 7px;
   }



p{
    
    text-align: justify;
    font-size: 1.1em;


}

 
  

  

 
 main{ 
    font-size: 1.2em;
    min-width: ;
    width: 100%;
    max-width: 1600px;
    text-indent: 10px;
    line-height:36px;
    background-color: var(--cor9);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
 
    
    box-sizing: border-box;
   
 }
 

 main h1 {
     color: var(--cor5);
    font-family: var(--fonte-destaque);
 }

 main h2{
    color: var(--cor5);
    font-family:var(--fonte-destaque)
 }

 main  img {
    max-width: 100%;
    display: block;
    margin: 22px auto;
    border-radius: 12px;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.18);
    object-fit: cover;
    max-height: 400px;
 }
main  img.web{
  object-fit: cover;
    width: 100%;
    max-height: 500px;
    height: auto;
    display: block;
    margin: 22px auto;
    border-radius: 12px;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.18);



}
 a{
  text-decoration: none;
  color: var(--cor3);
  
 

 }
  a:hover{
    text-decoration: underline;
   
    background-color: var(--cor4);
    transition-duration: 1s;
    border-radius: 3px;
    padding: 3px;
  }

main strong{
  color:#0577B7 ;
  font-weight: bold;
}

aside > h3{
  display: block;
  background-color: var(--cor1);
  
  
}

aside > ul{
  columns: 2;
}

aside{
  background-color: var(--cor5);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin:10px 10px 10px 10px;
  padding-top:1px ;
  c
   
}

footer{
  text-align:center ;
  font-size: 1.2em;
}





 