@charset "UTF-8";

body{
    font: normal 1em arial,verdana,sans-serif;
    background-color: rgb(235, 200, 155);
}
h1,h2{

    font-family: 'Times New Roman', Times, serif;
}
#terciario{
    color: rgb(110, 81, 43); ;
    
    text-align:center;
}

.secundario{
    color:  rgb(153, 107, 46);
}
 .Basico{
    color: rgb(68, 68, 68);
}
.Intermediario {
     color: rgb(51, 18, 18);
}
.Avancado{
    color: rgb(158, 71, 13);;
}




       
    

